In [62]:
import pandas as pd

import numpy as np
import pandas as pd

sets = pd.read_csv('lego/sets.csv')
inventory_parts = pd.read_csv('lego/inventory_parts.csv')
inventories = pd.read_csv('lego/inventories.csv')
parts = pd.read_csv('lego/parts.csv')
print(parts)
biggest_set = sets.sort_values('num_parts', ascending=False).iloc[0:10]
print(biggest_set)

      part_num                                               name  part_cat_id
0       0687b1                        Set 0687 Activity Booklet 1           17
1         0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2         0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3         0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4         0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1
...        ...                                                ...          ...
25988   zbb013              Znap Connector 3 x 3 - 4 way B (Beam)           43
25989   zbb014                     Znap Connector 1 x 3 - 2 way A           43
25990   zbb015                                Znap Beam 3, 1 Hole           43
25991   zbb018            Znap Connector 3 x 3 - 4 way C (Closed)           43
25992   zbb022                  Wheel 68mm Znap Propeller (9 x 2)           29

[25993 rows x 3 columns]
         set_num                                name  year  theme_id  \
170      10189-1                           Taj Mahal  2008       276
11614     SWMP-1  Star Wars / M&M Mosaic - Promo Set  2005       169
1337   2000409-1              Window Exploration Bag  2010       507
161      10179-1             Millennium Falcon - UCS  2007       174
8322     75827-1              Firehouse Headquarters  2016       301
3163     40179-1        Personalised Mosaic Portrait  2016       277
195      10214-1                        Tower Bridge  2010       276
234      10253-1                             Big Ben  2016        43
7606     71040-1                   The Disney Castle  2016       608
8167     75159-1                          Death Star  2016       158

       num_parts
170         5922
11614       5461
1337        5200
161         5195
8322        4640
3163        4501
195         4295
234         4166
7606        4060
8167        4023

In [63]:
total_quantity = inventory_parts.loc[inventory_parts['inventory_id'] == 76, 'quantity'].sum()
print(total_quantity)

5962

In [64]:
list1=[]

for index,row_series in biggest_set.iterrows():
    list1.append({'set_num': row_series['set_num'], 'set_name': row_series['name']})
print(list1)

[{'set_num': '10189-1', 'set_name': 'Taj Mahal'}, {'set_num': 'SWMP-1', 'set_name': 'Star Wars / M&M Mosaic - Promo Set'}, {'set_num': '2000409-1', 'set_name': 'Window Exploration Bag'}, {'set_num': '10179-1', 'set_name': 'Millennium Falcon - UCS'}, {'set_num': '75827-1', 'set_name': 'Firehouse Headquarters'}, {'set_num': '40179-1', 'set_name': 'Personalised Mosaic Portrait'}, {'set_num': '10214-1', 'set_name': 'Tower Bridge'}, {'set_num': '10253-1', 'set_name': 'Big Ben'}, {'set_num': '71040-1', 'set_name': 'The Disney Castle'}, {'set_num': '75159-1', 'set_name': 'Death Star'}]

In [65]:
import pandas as pd

result_list = []

# Assuming list1 contains set information (set_num, set_name)
for set_info in list1:
    set_num = set_info['set_num']
    set_name = set_info['set_name']

    # Find the corresponding inventory information
    inventory_info = inventories[inventories['set_num'] == set_num].iloc[0]

    # Extract inventory ID
    inventory_id = inventory_info['id']

    # Filter inventory parts based on inventory ID
    set_inventory_parts = inventory_parts[inventory_parts['inventory_id'] == inventory_id]

    # Append a dictionary with set, inventory, and parts information to the result list
    result_list.append({
        'set_num': set_num,
        'set_name': set_name,
        'inventory_id': inventory_id,
        'parts_data': set_inventory_parts[['part_num', 'quantity']].to_dict(orient='records')
    })

# Convert the list of dictionaries to a DataFrame
result_df = pd.DataFrame(result_list)

# Explode the 'parts_data' column to separate rows for each part_num and quantity
result_df = result_df.explode('parts_data')

# Extract 'part_num' and 'quantity' from the 'parts_data' dictionary column
result_df[['part_num', 'quantity']] = pd.DataFrame(result_df['parts_data'].tolist(), index=result_df.index)

# Merge with the 'parts' DataFrame to get 'part_name'
result_df = pd.merge(result_df, parts[['part_num', 'name']], on='part_num', how='left')

# Drop the original 'parts_data' column
result_df = result_df.drop('parts_data', axis=1)

# Display the final result DataFrame
print(result_df)

      set_num    set_name  inventory_id part_num  quantity  \
0     10189-1   Taj Mahal            76     2339         8
1     10189-1   Taj Mahal            76     2357        12
2     10189-1   Taj Mahal            76    2412b        60
3     10189-1   Taj Mahal            76     2419        12
4     10189-1   Taj Mahal            76     2420        36
...       ...         ...           ...      ...       ...
2986  75159-1  Death Star          7869    98138         1
2987  75159-1  Death Star          7869    98286         1
2988  75159-1  Death Star          7869    98313         4
2989  75159-1  Death Star          7869    99780         2
2990  75159-1  Death Star          7869    99781         4

                                              name
0            Brick Arch 1 x 5 x 4 [Continuous Bow]
1                               Brick 2 x 2 Corner
2     Tile Special 1 x 2 Grille with Bottom Groove
3                    Wedge Plate 3 x 6 Cut Corners
4                               Plate 2 x 2 Corner
...                                            ...
2986                              Tile Round 1 x 1
2987         Hinge Plate 2 x 4 with Pin Hole - Top
2988                Arm Mechanical [Thick Support]
2989                Bracket 1 x 2 - 1 x 2 Inverted
2990                         Bracket 1 x 2 - 1 x 2

[2991 rows x 6 columns]

In [66]:
part_num_counts = result_df.groupby('part_num').filter(lambda x:len(x)> 1)

# Display the part numbers that are in multiple sets
duplicate_part_nums = part_num_counts['part_num'].unique()
print("Part numbers present in multiple sets:")
print(duplicate_part_nums)

Part numbers present in multiple sets:
['2339' '2357' '2412b' '2419' '2420' '2431' '2436' '2450' '2453a' '2454a'
 '2456' '2730' '2780' '2877' '3001' '3002' '3003' '3004' '30044' '3005'
 '3006' '3008' '3009' '3010' '3020' '3021' '3022' '3023' '3024' '3030'
 '3031' '3032' '3033' '3034' '3035' '30363' '30367b' '30374' '30414'
 '30503' '30505' '3062b' '3068b' '3069b' '3070b' '32018' '32028' '32324'
 '3245b' '32531' '32532' '32555' '3307' '3460' '3622' '3623' '3626b'
 '3659' '3660' '3665' '3666' '3680' '3700' '3701' '3702' '3707' '3710'
 '3737' '3794a' '3795' '3832' '3857' '3941' '3958' '4032a' '4070' '4081b'
 '4085c' '4162' '43337' '43898' '44375a' '44567a' '44568' '44728' '4477'
 '4490' '4510' '4589' '4740' '47457' '47905' '4864b' '4865a' '52107'
 '54200' '59443' '6019' '60471' '60474' '60479' '6111' '6112' '6141'
 '6180' '6182' '6231' '6232' '6259' '6558' '6587' '6636' '73983' '4186'
 '2458' '3039' '3040b' '3065' '3957b' '4175' '4286' '4287' '4495b'
 '970c00' '2432' '2445' '2462' '2465' '2476a' '2540' '2555' '2654' '2817'
 '298c05' '30000' '3007' '30136' '30157' '30236' '3027' '3029' '30355'
 '30356' '30357' '3036' '3037' '30377' '3038' '30386' '3045' '30541'
 '30565' '32000' '32001' '32002' '32013' '32014' '32034' '32039' '32054'
 '32062' '32073' '32123b' '32140' '32316' '32523' '32525' '32530' '33299a'
 '3456' '3703' '3705' '3706' '3708' '3709' '3743' '3830' '3831' '3839b'
 '3894' '3901' '3937' '3938' '3942c' '3956' '3957a' '40490' '4079' '41539'
 '41769' '41770' '4274' '4282' '4285b' '43093' '4349' '43719' '43722'
 '43723' '44294' '44301a' '44302a' '4445' '44570' '4519' '4623' '4697b'
 '4735' '47397' '47398' '48092' '48336' '48729a' '50950' '51739' '54383'
 '54384' '6091' '6106' '6179' '6190' '6222' '6541' '75c12' '10201' '10247'
 '11090' '11203' '11211' '11212' '11214' '11437' '11476' '11477' '14395'
 '14716' '14719' '14769' '15207' '15332' '15395' '15535' '15571' '15573'
 '15712' '18651' '20310' '20482' '20595' '21268' '2343' '23969' '2453b'
 '2653' '2921' '298c02' '30126' '30134' '30145' '30151b' '30237b' '30350a'
 '30375' '3046a' '3069bpr0086' '3070bpr0007' '3176' '32124' '3245c'
 '32524' '3298' '33009' '33078' '33291' '3626c' '3626cpr2002' '3633'
 '3673' '3679' '3794b' '42446' '4528' '4529' '4536' '4595' '4599b' '4733'
 '4865b' '48729b' '53451' '58176' '59349' '59900' '6020' '604547' '604548'
 '604549' '604550' '604551' '604552' '604553' '604614' '604615' '60470b'
 '60475b' '60478' '60581' '60592' '60593' '60596' '60601' '60602' '60849'
 '60897' '61184' '61252' '61409' '62462' '63864' '63965' '64567' '64644'
 '64647' '85861' '85984' '87079' '87087' '87552' '87580' '88072' '88646'
 '88704' '92280' '92410' '92593' '93061' '96874' '98138' '98138pr0035'
 '98138pr0038' '98283' '99206' '99207' '99780' '99781' '99784' '18759'
 '32449' '3685' '4185' '43720' '43721' '4460b' '49668' '6003' '63868'
 '72454' '87544' '92950' '98560' '10928' '11213' '15208' '15397' '15462'
 '18674' '19119' '2639' '30165' '30367c' '32064a' '32270' '3688' '3713'
 '6266' '64799' '85975' '87609' '87994' '90540' '91405' '92438' '92946'
 '11010' '11458' '11833' '13548' '15254' '15392' '15470' '15672' '18041'
 '18838' '18920' '18980' '22385' '22888' '2449' '2489' '30153' '33183'
 '33322' '3678b' '37' '3747a' '60470a' '60477' '6124' '6134' '61485'
 '87620' '89522' '92690' '92947' '93273' '93274' '95228' '95343' '95344'
 '98138pr0059' '98286' '13564' '18654' '19888' '19917' '30362' '30504'
 '3738' '4742' '61482' '78c02' '87989' '90194']

In [59]:
filename = 'lego_result.csv'
result_df.to_csv(filename, index=False)
print(f'DataFrame has been saved as CSV file: "{filename}"')

DataFrame has been saved as CSV file: "lego_result.csv"

In [69]:
df = pd.DataFrame(result_df)

# Create a new DataFrame with unique part numbers and their associated names
unique_parts_df = df[['part_num', 'name']].drop_duplicates()

# Display the resulting DataFrame
print(unique_parts_df)
filename = 'unique.csv'
unique_parts_df.to_csv(filename, index=False)
print(f'DataFrame has been saved as CSV file: "{filename}"')

          part_num                                          name
0             2339         Brick Arch 1 x 5 x 4 [Continuous Bow]
1             2357                            Brick 2 x 2 Corner
2            2412b  Tile Special 1 x 2 Grille with Bottom Groove
3             2419                 Wedge Plate 3 x 6 Cut Corners
4             2420                            Plate 2 x 2 Corner
...            ...                                           ...
2981  973pr3523c01                     MINI UPPER PART, NO. 3523
2982  973pr3524c01                     MINI UPPER PART, NO. 3524
2983  973pr3533c01                     MINI UPPER PART, NO. 3533
2984         98108          Minifig Helmet SW Death Star Trooper
2988         98313                Arm Mechanical [Thick Support]

[826 rows x 2 columns]
DataFrame has been saved as CSV file: "unique.csv"

In [70]:
unique_df = df.drop_duplicates(subset=['inventory_id', 'set_name'])

# Display the resulting DataFrame
print(unique_df)

        set_num                            set_name  inventory_id   part_num  \
0       10189-1                           Taj Mahal            76       2339
174      SWMP-1  Star Wars / M&M Mosaic - Promo Set         12161       3020
204   2000409-1              Window Exploration Bag          7847       2458
238     10179-1             Millennium Falcon - UCS          6409  10179cert
536     75827-1              Firehouse Headquarters          8461      10201
1223    40179-1        Personalised Mosaic Portrait         18438       3024
1230    10214-1                        Tower Bridge         11520      12825
1437    10253-1                             Big Ben         11169      10928
1700    71040-1                   The Disney Castle         12397      10183
2400    75159-1                          Death Star          7869      10201

      quantity                                               name
0            8              Brick Arch 1 x 5 x 4 [Continuous Bow]
174        200                                        Plate 2 x 4
204        100                       Brick Special 1 x 2 with Pin
238          1  Paper, Certificate of Authenticity for Set 101...
536          2            Bracket 1 x 2 - 1 x 4 [Rounded Corners]
1223       900                                        Plate 1 x 1
1230        20     Tile Special 1 x 1 with Clip with Rounded Tips
1437         2                  Technic Gear 8 Tooth [Reinforced]
1700         1                                Minifig Wings Fairy
2400         6            Bracket 1 x 2 - 1 x 4 [Rounded Corners]

    set_num   set_name  inventory_id part_num  quantity
0   10189-1  Taj Mahal            76     2339         8
0   10189-1  Taj Mahal            76     2357        12
0   10189-1  Taj Mahal            76    2412b        60
0   10189-1  Taj Mahal            76     2419        12
0   10189-1  Taj Mahal            76     2420        36
..      ...        ...           ...      ...       ...
0   10189-1  Taj Mahal            76     3623         4
0   10189-1  Taj Mahal            76    3626b         6
0   10189-1  Taj Mahal            76    3626b        16
0   10189-1  Taj Mahal            76     3659         2
0   10189-1  Taj Mahal            76     3660        76

[100 rows x 5 columns]